body {
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
}

nav {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3);

    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 20px;
}

.nav-link {
    color: black;
    transition: all 0.5s;
}

.nav-link:hover {
    color: white;
}

main {
    min-height: 90vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.3);

    box-shadow: 0 4px 30px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: white;
}

h1 {
    color: white;
    text-align: center;
    margin: 5% 0;
}

td,
th {
    border: 1px solid;
    padding: 20px;
    color: rgb(255, 241, 213);
}

button {
    height: 40px;
    width: 80px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    text-align: center;
}

button:hover {
    background: black;
    color: white;
}

input {
    width: 100%;
    padding: 10px 20px;
}

.form-field {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}

label {
    color: white;
}
